*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

.DownUp {

    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes DownUp{

    0% {
        opacity: 0;
        transform: translate3d(0px,100%,0px);
    }
   
    100% {
        opacity: 1;
        transform: none;
    }
}

ul{
    padding-left: 0px;
    padding: 0px;
    margin: 0px;;
}
ul li{
    list-style: none;
}
p{
    margin-bottom: 0px;
}

.header-top{
    background-color: #07294d;
    padding: 10px 0px;

}

.heading-top p{
    /* margin-top: 5px; */
    color: white;
    /* padding: 8px; */
    font-size: 15px;
    font-family: 'rubik',sans-serif;
    margin-bottom: 0px;

}
.icons ul li{
    display: inline-block;
    margin-right: 15px;
}
.icons i{
    color: white;
    /* padding: 10px; */
    /* margin-top: 5px; */
    cursor: pointer;
}
.icons i:hover{
    color: #ffc600;
}

.head-container-center{
    padding: 25px 0px;
}

.Head-Container-Center {
     padding: 25px 0px;
}

.logo-img img {
    max-width: 100%;
}

.Head-Main {
    float: right;
}

.Head-Main .Head-1 {
    float: left;
    padding-right: 35px;
}

.Head-Main .Head-1:last-child {
    padding-right: 0px;
}

#icons-1 {
    float: left;
    width: 45px;
    height: 45px;
    font-size: 18px;
    color: #07294d;
    line-height: 45px;
    text-align: center;
    border: 1px solid #eaecf2;
    background-color: #f4f6f9;
}

#Content-1 {

    float: left;
    padding-left: 14px;
}

.Head-1 h4 {

    margin: 0px;
    font-size: 18px;
    color: #131d3b;
    font-weight: 600;
    line-height: 23px;
    font-family: Rubik, sans-serif;
}

.Head-1 h5 {
    margin: 0px;
    color: #666;
    font-size: 14px;
    line-height: 23px;
    font-family: 'Poppins', sans-serif;
}
/* @media screen and (max-width: 633px){
.icons {
    display: block;
}
} */


@media screen and (max-width: 575px){
    .icons{
        display: none;
    } 
}

@media only screen and (max-width: 480px) {
    .logo-img img {
        display: block;
        max-width: 220px;
        margin: 0px auto;
    }
}

@media only screen and (min-width: 480px) and (max-width: 992px) {

    .header-top{
        text-align: center;
    }
}


@media only screen and (min-width: 480px) and (max-width: 768px) {
    .logo-img img {
        display: block !important;
        max-width: 280px;
        margin: 0px auto;
    }
    .header-top{
        text-align: center;
    }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
    .logo-img img {
        max-width: 100%;
    }
}


.Head-Container-Bottom {

      padding: 18px 0px;
    background-color: #f4f6f9;
}
.sticky{
    content:" ";
    background-color: #fff;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 99;
    box-shadow: 0px 0px 15px #eee;
    animation: slide-down 0.7s; 
}

@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY(-100%);
        
    }

    100% {
        opacity: 0.9;
        transform: translateY(0);
       
    }
}



@media screen and (max-width: 991px) and (min-width: 768px) {
    .header-request {
        top: -78px;
    }
}


@media screen and (max-width: 991px) and (min-width: 768px) {
    .navbar-nav {
        position: relative;
    }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
    .header-nav-area .header-nav-menu-box .header-request {
        top: -92px;
    }
}

.header-nav-area {
    padding: 18px 0px;
}

.header-nav-area .header-nav-menu-box {
    position: relative;
}

.header-nav-area .header-nav-menu-area ul {
    margin: 0px;
}

.header-nav-area .header-nav-menu-area ul>li {
    float: left;
    margin-right: 30px;
    position: relative;
}

.header-nav-area .header-nav-menu-area ul>li a {
    font-size: 16px;
    font-weight: 600;
    color: #07294d;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'poppins',sans-serif;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.header-request {
    position: absolute;
    top: -18px;
    right: 0px;
}

.header-request .theme-btn {
    background-color: #ffc600;
    padding: 21px 30px;
    margin: 0px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
    font-family: 'rubik',sans-serif;
}

.header-nav-area .header-nav-menu-area ul>li a:hover {
    color: #daab03;
    cursor: pointer;
}

.theme-btn {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 17px;
    color: #07294d !important;
    background-color: #ffc600;
    padding: 17px 30px;
    display: inline-block;
    text-decoration: none !important;
    border: 0px;
    cursor: pointer;
}

.header-nav-area .header-nav-menu-area ul>li>a>I {
    font-size: 18px;
    position: relative;
    top: 2px;
    margin-left: 2px;
}

.header-nav-area .header-nav-menu-area ul>li .theme-dropdown {
    width: 240px;
    position: absolute;
    top: 42px;
    z-index: 99;
    background-color: #fff;
    border-top: 5px solid #ffc600 !important;
    left: 0px;
    border: 1px solid #eee;
    transition: all 0.5s;
    transform: translateY(15px);
    opacity: 0;
    visibility: hidden;
}

.header-nav-area .header-nav-menu-area ul>li:hover .theme-dropdown {
    transform: none;
    opacity: 1;
    visibility: visible;
}

.header-nav-area .header-nav-menu-area ul {
    margin: 0px;
}

.header-nav-area .header-nav-menu-area ul>li .theme-dropdown>ul>li {
    float: none;
    margin: 0px;
    border-bottom: 1px solid #eee;
}

.header-nav-area .header-nav-menu-area ul>li .theme-dropdown>ul>li>a {
    display: block;
    padding: 12px 15px;
}


.fixed-header {
    background-color: #fff;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 99;
    box-shadow: 0px 0px 15px #eee;
    animation: slide-down 0.7s;
}
@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
    }

    100% {
        opacity: 0.9;
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }
}

.header-nav-area .header-nav-menu-area ul > li .theme-dropdown > ul > li > a:hover {
    background-color: #07294d;
}
@media screen and (max-width: 991px) and (min-width: 768px) {
    .header-nav-area .header-nav-menu-area ul>li a {
        font-size: 15px;
    }
}

@media screen and (max-width: 767px) {
    .header-nav-area .header-nav-menu-area ul>li:hover .theme-dropdown {
        position: static;
        width: 100%;
        border: 0px !important;
    }
}

@media screen and (max-width: 767px) {
    .header-nav-area .header-nav-menu-box .header-request .theme-btn {
        padding: 18px 30px;
    }

}
  

@media screen and (max-width: 2000px) and (min-width: 767px) {
    .header-responsive-menu {
        display: none;
    }
}
@media screen and (max-width: 767px) and (min-width: 576px) {
    body .header-nav-area {
        padding: 0px;
    }
}

@media screen and (max-width: 767px) {
    .header-nav-menu-area {
        /* display: none; */
        position: absolute;
        top: 100%;
        left: 0px;
        right: 0px;
        background-color: #f4f6f9;
        margin-top: 6px;
        z-index: 9;
        margin: 0px -21px;
        padding: 0px 22px;
        height: 65vh;
        overflow-y: auto;
    }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
    .header-nav-area .header-nav-menu-area ul>li {
        margin-right: 22px;
    }
}

@media screen and (max-width: 767px) and (min-width: 576px) {
    body .header-nav-area .header-nav-menu-box .header-responsive-menu {
        transform: none;
        top: -62px;
        right: 0px;
    }
}

@media screen and (max-width: 767px) {
    .header-nav-area .header-nav-menu-box .header-responsive-menu {
        font-size: 28px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0px;
    }
}

@media screen and (max-width: 767px) and (min-width: 576px) {
    body .header-nav-area .header-nav-menu-box .header-request {
        position: absolute;
        top: -65px;
        right: 80px;
    }
}

@media screen and (max-width: 767px) {
    .header-nav-area .header-nav-menu-area ul>li>a {
        display: block;
        padding: 10px 0px;
        border-bottom: 1px solid #eee;
    }
}

@media screen and (max-width: 767px) {
    .header-nav-area .header-nav-menu-box .header-request {
        position: static;
    }
}

@media screen and (max-width: 767px) {
    .header-nav-area .header-nav-menu-box .header-responsive-menu {
        font-size: 28px;
        position: absolute;
        top: 40px;
        transform: translateY(-50%);
        right: 0px;
    }
}

@media screen and (max-width: 767px) {
    .header-nav-area {
        padding: 6px 6px;
    }
}

@media screen and (max-width: 568px) {
    .header-nav-area .header-nav-menu-box .header-request .theme-btn {
        padding: 18px 30px;
        margin-top: 10px;
    }
}

@media screen and (max-width: 568px) {
    .header-nav-menu-area {
        /* display: none; */
        position: absolute;
        top: 69px;
        left: 0px;
        right: 0px;
        background-color: #f4f6f9;
        margin-top: 6px;
        z-index: 9;
        margin: 0px -21px;
        padding: 0px 22px;
        height: 65vh;
        overflow-y: auto;
    }
}


.navbar-toggler {
    border: none;
}

.navbar-collapse {
    transition: height 0.3s ease-in-out;
    /* overflow: hidden;  */
}

.navbar-collapse.collapsing {
    height: 0;
}

.navbar-collapse.collapsed {
    height: auto;
}


.main-cont2{
    background-image: url(ovarlay-slide.jpg);
    background-attachment: fixed;
    max-width: 100%;

}
.content{
    display: table;
    height: 730px;
}
.left-content h1{
    font-size: 40px;
    color: #fff;
    font-family: 'rubik',sans-serif;
    /* margin-top: 25%; */
}
.left-content h3{
    font-size: 16px;
    color: #ccc;
    margin-bottom: 48px;

}
.slider-btn a{
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 17px;
    color: #07294d !important;
    background-color: #ffc600;
    padding: 17px 30px;
    text-decoration: none;
    cursor: pointer;
   
}

.breadcrumb-area{
    background-color: #07294d;
    padding: 60px 0px 140px;
    position: relative;
    margin-bottom: -30px;
}
.breadcrumb-area::before{
    content: " ";
    background-image: url(ovarlay-slide.jpg);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    background-attachment: fixed;
    background-position: top center;
    opacity: 0.4;
}
.breadcrumb-shape{
    position: absolute;
     bottom: -4px;
     left: 0px;
    right: 0px;
}
.breadcrumb-shape img{
    max-width: 100%;
    vertical-align: middle;
    border-style: none;
}
.breadcrumb-box h2{
    position: relative;
    font-size: 32px;
    color: #fff;
    margin-bottom: 0px;
    font-family: 'rubik',sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}
.page-paddings{
    padding: 60px 0px;
}
.course-1{
    padding: 0px 15px 0px 15px;
}
.content-box{
    margin-top: 30px;
}

.course-img img{
    max-width: 100%;
    cursor: pointer;
}
.course-details{
    position: relative;
    background-color: #fff;
}
.content-box{
    background-color: #fff;
    margin-top: 30px;
    box-shadow: 0px 0px 15px #eee;
    border-radius: 6px;
}
.course-content{
    
    padding: 17px;
}
.course-details h3{
    font-size: 20px;
    color: #07294d;
    font-weight: 600;
    margin-bottom: 4px;
    font-family: 'Rubik',sans-serif;
    cursor: pointer;
}
.course-details h3:hover{
    color: #ffc107;
}
.course-details p{
    color: #666;
    font-size: 15px;
    font-family: 'poppins',sans-serif;
    
}
.courses-review{
    margin-top: 10px;
}
.course-icons{
    float: left;
    padding-bottom: 12px;
}
.course-icons i{
    color: #ffc600;
    font-size: 18px;
}

.courses-like{
    float: right;
    width: auto;
    cursor: pointer;
    margin: 0px;
}
.courses-like li{
    float: left;
    margin: 0px;
    padding: 0px;
    font-size: 15px;
    list-style: none;
    /* padding: 12px; */
    padding-right: 15px;
    font-family: 'poppins',sans-serif;
}
.techer-footer{
    width: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
    border-top: 1px solid #EEE;
    justify-content: space-between;

}
.teacher-img img{
    max-width: 40px;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 50%;
}
.teacher-name{
    color: #666;
    cursor: pointer;
    font-family: 'poppins',sans-serif;

}
.course-price{
    color: #155724;
    font-size: 16px;
    font-weight: 600;
    padding: 5px 15px;
    border-radius: 4px;
    border: 1px solid #c3e6cb;
    background-color: #D4EDDA;
    font-family: 'poppins',sans-serif;
    
}

.load-more-btn{
    text-align: center;
    margin-top: 30px;
}
.load-more-btn .load-btn{
    text-transform: uppercase;
    padding: 17px 60px;
}
.theme-btn{
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 17px;
    color: #07294d !important;
    background-color: #ffc600;
    padding: 17px 30px;
    display: inline-block;
    text-decoration: none !important;
    border: 0px;
    cursor: pointer;
}
.fa-arrows-rotate:before,.fa-refresh:before,.fa-sync:before {
    content: "";
}
.footer-main{
    background-color: #07294d;
    position: relative;
}
.footer-shape{
    position: absolute;
    top: -2px;
    left: 0px;
    right: 0px;
}
.footer-top{
    padding: 130px 0px 60px;
}
.footer-title h3{
    color: #ffc600;
    position: relative;
    font-size: 22px;
    margin-bottom: 44px;
}
.footer-title h3::before{
    contain: "";
    background-color: #ffc600;
    height: 3px;
    width: 60px;
    position: absolute;
    left: 0px;
    bottom: -10px;
}
.footer-content ul{
    margin: 0px;
}
.footer-content ul li{
    padding-left: 22px;
    margin: 0px;
    list-style: none;
}
.footer-content li{
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    padding-bottom: 12px;
    position: relative;
}
.footer-content i{
    position: absolute;
    top: 4px;
    left: -8px;
    color: #ffc600;
}
.footer-ul{
    width: 50%;
    float: left;
    padding: 0px 15px;
}
.footer-ul-app{
    padding-left: 0px;
    margin: 0px;
    list-style: none;
}
.download-app img{
    max-width: 110px;
}
.download-app  ul {
    display: flex;
}
.footer-social{
    margin-top: 25px;
}
.footer-social ul{
    margin: 0px -15px;
}
.facebook{
    text-decoration: none;
    background: #4b6fba;
}
.footer-social ul li{
    width: 25%;
    float: left;
    padding-right: 23px;
}
.footer-social a{
    display: block;
    padding: 15px 15px 15px 75px;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    color: #fff;
}
.facebook i{
    background: #3b5998;
    height: 54px;
    width: 54px;
    line-height: 54px;
    font-size: 20px;
    text-align: center;
    top: 0px;
    left: 0px;
    position: absolute;

}
.twitter{
        background-color: #0087ba;
    text-decoration: none;

}
.twitter i{
    background-color: #00acee;
    height: 54px;
    width: 54px;
    line-height: 54px;
    font-size: 20px;
    text-align: center;
    top: 0px;
    left: 0px;
    position: absolute;
}
.linkedin{
    background-color: #1c8fc7;
    text-transform: uppercase;
    text-decoration: none;
}
.linkedin i{
    background-color: #0e76a8;
    height: 54px;
    width: 54px;
    line-height: 54px;
    font-size: 20px;
    text-align: center;
    top: 0px;
    left: 0px;
    position: absolute;
}
.youtube{
    background-color: #ba0d0d;
    text-transform: uppercase;
    text-decoration: none;

}
.youtube i{
    background-color: #FF0000;
    height: 54px;
    width: 54px;
    line-height: 54px;
    font-size: 20px;
    text-align: center;
    top: 0px;
    left: 0px;
    position: absolute;
}

@media screen and  (max-width: 843px){
    .footer-social ul li{
        width: 100%;
        margin-bottom: 15px;
    }
}

@media screen and (max-width:843px) and (min-width: 480px){
    .footer-social ul li{
        width: 50% !important;
    }
}
 .footer-main::before {
    top: 0px;
    left: 0px;
    right: 0px;
    content:" ";
    width: 100%;
    opacity: 0.4;
    height: 100%;
    position: absolute;
    background-attachment: fixed;
    background-position: center center;
    background-image: url("ovarlay-slide.jpg");
} 
.footer-buttom{
    background-color: #032243;
    padding: 15px 0px;
}
.footer-copyright{
    text-align: center;
}
.footer-copyright p{
    color: #fff;
    font-size: 16px;
    margin: 0px;
    font-weight: 500;
}
.footer-copyright a{
    text-decoration: none;
}