*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
.animationdly{
    --animate-duration: 1.2s;

}
.animationdly1{
    --animate-duration: 1.4s;
}
.animationdly2{
    --animate-duration: 1.7s;
}
.animationdly3{
    --animate-duration: 1.9s;
}
.login-page-main{
    min-height: 100vh;
    display: flex;
    align-items: center;
    will-change: 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    padding: 15px;
    background-color: #07294d;
    position: relative;
}
.login-page-main::before{
    content:" ";
    background-image: url(ovarlay-slide.jpg);
    height: 100%;
    width: 100%;
    background-size: cover;
    position: absolute;
    right: 0px;
    top: 0px;
    left: 0px;
    background-attachment: fixed;
    opacity: 0.4;
}
.justify-content-center{
    justify-content: center;
}
.fxt-content{
    padding: 65px 60px 45px;
    width: 100%;
    background-color: #fff;
    border-radius: 15px 15px;
    position: relative;
}
.login-page-main .fxt-header{
    text-align: center;
    margin-bottom: 50px;
}
.login-page-main .fxt-header .fxt-logo{
    display: block;
    margin-bottom: 7px;
}
.login-page-main .fxt-header .fxt-logo img{
    max-width: 100%
}
.login-page-main .fxt-header p{
    font-size: 16px;
    color: #444;
    margin: 0px;
}
.login-page-main .fxt-form .form-group{
    position: relative;
    z-index: 1;
}
.form-group{
    margin-bottom: 1rem;
}
.login-page-main .fxt-form .form-control{
    min-height: 50px;
    box-shadow: none;
    border: 1px solid #e7e7e7;
    padding: 10px 15px;
    color: #111;
}
.form-control{
    display: block;
    width: 100%;
    color: #495057;
    font-size: 1rem;
    line-height: 1.5;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;

}
.login-page-main .fxt-form .form-group .field-icon{
    position: absolute;
    z-index: 1;
    right: 19px;
    bottom: 18px;
    columns: #a1a1a1;
    font-size: 14px;
}
.login-page-main .fxt-form .form-group .field-icon:before{
    padding: 17px 10px;
}
.login-page-main .fxt-checkbox-area{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    flex-wrap: wrap;
}
.login-page-main .chechbox{
    padding-left: 5px;
}
input[type=checkbox], input[type=radio]{
    box-sizing: border-box;
    padding: 0;
}
/* .login-page-main .checkbox label:before{
    content:" ";
    position: absolute;
    width: 15px;
    height: 15px;
    top: 4px;
    left: 0;
    margin-left: -5px;
    border: 1px solid;
    border-color: #dcdcdc;
    background-color: #fff;
} */
.login-page-main .checkbox input[type="checkbox"]:checked + label::after{
    font-family: 'Font Awesome 5 Free';
    content: "";
    color: #ffffff;
    left: 4px;
    right: 4px;
}
.login-page-main .checkbox label:after{
    position: absolute;
    margin-left: -20px;
    padding-left: 3px;
    font-size: 10px;
    color: #555555;
}
.login-page-main .switcher-text:last-child{
    margin-right: 0px;
}
.login-page-main .switcher-text{
    color: #07294d;
    font-weight: 600;
    font-size: 15px;
    margin-top: 5px;
    display: block;
    text-decoration: none;
}
.login-page-main .checkbox label{
    padding-left: 4px;
    color: #000;
    margin-bottom: 0;
    font-size: 15px;
    position: relative;
    font-weight: 600;
}
.login-page-main .fxt-btn-fill{
    font-family: 'roboto',sans-serif;
    cursor: pointer;
    display: inline-block;
    font-size: 17px;
    font-weight: 500;
    box-shadow: none;
    outline: none;
    border: 0;
    color: #fff;
    border-radius: 3px;
    background-color: #07294d;
    padding: 10px 36px;
    margin-bottom: 0px;
    width: 100%;    
    transition: 1s;
}
.fxt-btn-fill:hover{
    background-color: #ffc107;
    transition-delay: 0.1s;
    box-shadow: 0px 0px 15px #eee;
}
.fxt-style-line{
    overflow: hidden;
    text-align: center;
}
.fxt-style-line h3{
    text-align: center;
    font-weight: 500;
    margin-bottom: 30px;
    font-size: 18px;
    color: #a4a4a4;    
    display: inline-block;
    position: relative;
    padding: 0px 25px;
    z-index: 1;
    text-transform: uppercase;

}
.fxt-style-line h3::before{
    display: inline-block;
    content:" ";
    height: 1px;
    width: 100%;
    background-color: #ebebeb;
    left: 100%;
    top: 50%;
    position: absolute;
    z-index: 1;
}
.fxt-style-line h3::after{
    display: inline-block;
    content:" ";
    height: 1px;
    width: 100%;
    background-color: #ebebeb;
    right: 100%;
    top: 50%;
    position: absolute;
    z-index: 1;
}
.fxt-socials{
    display: flex;
    justify-content: center;
    margin-left: -5px;
    margin-right: -5px;
    margin-bottom: 10px;
    padding: 0px;
    list-style: none;    
}
.login-page-main ul.fxt-socials li{
    max-width: 100%;
    flex: 0 0 33.33333%;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 10px;
}
.login-page-main ul.fxt-socials li.fxt-google a{
    background-color: #CC3333;
}
.login-page-main ul.fxt-socials li a{
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 14px;
    height: 45px;
    color: #fff;
    text-decoration: none;
}
.login-page-main ul.fxt-socials li.fxt-google a i{
    background-color: #db4437;
}
.login-page-main ul.fxt-socials li a i{
    border-radius: 2px 0px 0px 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
}
.login-page-main ul.fxt-socials li a span{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}
.login-page-main ul.fxt-socials li.fxt-twitter a{
    background-color: #00acee;
}
.login-page-main ul.fxt-socials li.fxt-twitter a i{
    background-color: #33ccff;
}
.login-page-main ul.fxt-socials li.fxt-facebook a {
    background-color: #3b5998;
}
.login-page-main ul.fxt-socials li.fxt-facebook a i{
    background-color: #4867aa;
}
.fxt-footer{
    text-align: center;
}
.fxt-footer p{
    color: #999898;
}
.login-page-main .switcher-text2{
    color: #353535;
    font-size: 15px;
    margin-top: 5px;
    margin-left: 2px;
    display: inline-block;
    text-decoration: none;
    font-weight: 800;
}