.page-background{
    padding: 60px 0px;
    background-image: url(background.jpg);
}
.text-center{
    text-align: center;
}
.section-title h2{
    font-size: 40px;
    color: #000;
    font-family: 'rubik',sans-serif;
    position: relative;
    font-weight: 600;
}
.section-title p{
    font-size: 16px;
    color: #444;
    max-width: 767px;
    margin: 0px auto;
}
.teacher-slider{
    /* overflow: hidden; */
}
.Image-height {
    height: 370px;
    overflow: hidden;
}

.Image-width {
    width: 1160px;
}

.abc {
    float: left;
    width: 260px;
    margin-right: 20px;
}

.Teacher-img {
    cursor: pointer;
    position: relative;
}

.Teacher-img img {
    display: block;
    max-width: 100%;
    margin: 0px auto;
}

.Team-Social-media-icon {
    top: 0px;
    left: 0px;
    right: 0px;
    opacity: 0;
    position: absolute;
    transition: all 0.5s;
    transform: translateY(-50px);
}

.Team-icon {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.Team-icon li {
    list-style: none;
    margin-right: 5px;
    display: inline-block;
}

.Team-icon li i {
    width: 35px;
    height: 35px;
    color: #fff;
    line-height: 35px;
    border-radius: 3px;
}

.Team-Name {
    text-align: center;
    padding: 15px 15px;
}

.Team-Name h3 {
    font-size: 20px;
    font-weight: 600;
    color: #07294d;
    margin-bottom: 4px;
    font-family: Rubik, sans-serif;
}

.Team-Name p {
    margin: 0px;
    color: #666;
    font-size: 16px;
    font-family: Poppins, sans-serif;
}

.Teacher-img::before {
    top: 0px;
    left: 0px;
    opacity: 0;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 0.5s;
    background-color: #07294d;
}

.Teacher-All-Box:hover .Teacher-img::before {
    opacity: 0.9;
}

.Teacher-All-Box:hover .Team-Social-media-icon {
    top: 50%;
    opacity: 1;
}


.Team-Name h3:hover {
    cursor: pointer;
    color: #ffc600;
}
